html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #d52a54;
    width: 100vw;
    height: 10vh;
    position: fixed;
    z-index: 3;
}
header nav ul{
    text-align: center;
    padding-top: 5vh;
}
header nav ul li{
    display: inline;
    margin: 0 5vw;
    font-size: 1.4rem;
}
header nav ul li a{
    text-decoration: none;
    color: white;
    
}
main > section{
    height: 100vh;
    width: 100vw;
}


/*Accueil*/

#accueil{
    background-image: url("https://res03.sites.3wa.io/assets/files/inte/j3/mini-projet/assets/img/teacher.jpeg");
    background-size: cover;
    color: white;
}
#accueil h1{
    font-size: 5.5rem;
    width: 80vw;
    padding-top: 25vh;
    margin: 0 10vw;
}
#accueil h2{
    font-size: 3.5rem;
    width: 80vw;
    margin: 0 10vw;
}
#accueil strong{
    color: #d52a54;
}













#a_propos{
    background-color: white;
}

#a_propos h2{
    font-size: 3rem;
    padding: 15vh;
    text-align: center;
}

#a_propos p{
    font-size: 1.2rem;
    width: 40vw;
    height: 30vh;
    position: absolute;
}
#a_propos p:nth-of-type(1){
    top: 130vh;
    left: 8vw;
}
#a_propos p:nth-of-type(2){
    top: 130vh;
    right: 8vw;
}
#a_propos p:nth-of-type(3){
    top: 165vh;
    left: 8vw;
}
#a_propos p:nth-of-type(4){
    top: 165vh;
    right: 8vw;
}










#les_cours{
    background-color: #0b6ccd;
}
#les_cours h2{
    color: white;
    font-size: 3rem;
    padding: 15vh;
    text-align: center;
}
#les_cours h3{
    text-align: center;
    font-size: 1.6rem;
    padding: 40px 0 20px 0;
    color: white;
}
#les_cours section:nth-of-type(1) h3{
    background-image: url("https://res03.sites.3wa.io/assets/files/inte/j3/mini-projet/assets/img/code.jpeg"); 
    background-size: cover;
    border-radius: 10px 10px 0 0;
}
#les_cours section:nth-of-type(2) h3{
    background-image: url("	https://res03.sites.3wa.io/assets/files/inte/j3/mini-projet/assets/img/design.jpeg"); 
    background-size: cover;
    border-radius: 10px 10px 0 0;
}
#les_cours section:nth-of-type(3) h3{
    background-image: url("https://res03.sites.3wa.io/assets/files/inte/j3/mini-projet/assets/img/management.jpeg"); 
    background-size: cover;
    border-radius: 10px 10px 0 0;
}
#les_cours section{
    background-color: white;
    height: 50vh;
    width: 25vw;
    position: absolute;
    border-radius: 10px;
    top: 230vh;

}
#les_cours section:nth-of-type(1){
    left: 7vw;
}
#les_cours section:nth-of-type(2){
    left: 37.5vw;
    }
#les_cours section:nth-of-type(3){
    right: 7vw;
}
#les_cours p{
    font-size: 1.4rem;
    margin: 15px;
}







#agenda{
    background-color: white;
    
}
#agenda h2{
    color: black;
    font-size: 3rem;
    padding: 15vh;
    text-align: center;
}

#agenda section{
    border-radius: 10px;
    height: 60vh;
    width: 20vw;
    position: absolute;
    top: 330vh;
    box-shadow: 1px 1px 10px rgb(0 0 0 /30%);
    text-align: center;
    padding: 5px;
}

#agenda section:nth-of-type(1){
    left: 4vw;
}
#agenda section:nth-of-type(2){
    left: 28vw;
}
#agenda section:nth-of-type(3){
    left: 52vw;
}
#agenda section:nth-of-type(4){
    left: 76vw;
}

#agenda > section > h3{
    font-size: 1.4rem;
}
#agenda > section > p{
    font-size: 1.2rem;
}
#agenda .date{
    font-size: 1.4rem;
    font-weight: lighter;
    padding: 10px 0;
}





#contact{
    background-color: #326584;
}
#contact h2{
    color: white;
    font-size: 3rem;
    padding: 15vh;
    text-align: center;
}
#contact section{
    color: white;
    height: 60vh;
    width: 33vw;
    position: absolute;
    top: 430vh;
    padding: 20px 60px;
}
#contact section:first-of-type{
    left: 8vw;
}
#contact section:last-of-type{
    right: 8vw;
    border-left: 1px solid white;
}
#contact section h3{
    font-size: 1.6rem;
    font-weight: normal;
}
#contact fieldset{
    border: none;
    margin: 10px 0;
}
#contact section #message{
    background-color: #c5d4de;
    width: 25vw;
    height: 30px;
    border: none;
    border-radius: 5px;
    height: 15vh;
}
#contact section input{
    background-color: #c5d4de;
    width: 25vw;
    height: 30px;
    border: none;
    border-radius: 5px;
    
}
button{
    margin: 10px 0;
    background-color: white;
    box-shadow: 1px 1px 10px rgb(0 0 0 /30%);
    border: none;
    height: 30px;
    width: 80px;
    border-radius: 5px;
}
#contact section p{
    margin: 10px 0;
    font-size: 1.4rem;
}
#contact section h4{
    margin: 30px 0 10px 0;
    font-weight: bold;
    font-size: 2rem;
}